// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}*/
body {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    margin-left: 20px;
    margin-right: 20px;
    .top {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}


a {
  color: #b02039;
}

.end {
  color: lightgray;
}

.border {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.top 
{
  background-image:url('red5.jpg');
  background-repeat:repeat-x;
  font-family:"Times New Roman", Times, serif;
  color: #FFF8E7;
/*  background-size:110% 100%;*/
}

.top a {
  font-family:"Times New Roman", Times, serif;
  color: #FFF8E7; 
}
.top-bar { 
  height: 70px;
  vertical-align: center; 
  margin-top: -20px;
  @media only screen and (max-width: 25em) {
  margin-top: -10px;
  }
}

#ty { 
  background-image:url('red5.jpg');
  background-repeat:repeat-x;
  @media only screen and (max-width: 25em) { 
    margin-right: -10px;
  }
}

#go {
  font-size: 20px;
  display: table;
  margin: 0 auto;
  margin-top: 20px;

  @media only screen and (max-width: 25em) { 
    display: table;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 15px;
  }
}


.work {
  background-color: white;
  text-align: center;
  /*font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;*/
  /*font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;*/
  /*font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;*/
  font-family:"Times New Roman", Times, serif;
}

.tag {
  font-family:"Times New Roman", Times, serif;
  text-align: left;
  color: #b02039;
}

.accent {
  color: #b02039;
}

#title {
  /*font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;*/
  font-family:"Times New Roman", Times, serif;
  text-align: center;
  margin-left: 31px;
  color: #FFF8E7;
}

#section {
  color: #b02039;
}

.paragraph {
 /* text-align: left;*/
}

.connect2good {
  width: 100%;
  height: auto;
}

.weightable img {
  height: 400px;
}

.weight {
    margin-left: 10%;
}

hr {
     border: none;
    height: 1px;
    /* Set the hr color */
    color: lightgray; //old IE
    background-color: lightgray; //Modern Browsers
}
